astronomer-cosmos
dbt-core
dbt-databricks
databricks-sql-connector
# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
